Repository kubeedge/kubeedge, pull requests merged in 2025-04, with the labels that each got.

#6222 Apply to be a top-level reviewer
  OWNERS
Labels: kind/documentation, lgtm, approved, size/XS

#6108 Test : Added tests to edge/pkg/common/util
  edge/pkg/common/util/resource_test.go
Labels: kind/test, lgtm, approved, size/L

#6220 [test]:create test for clusterobjectsync.go in cloud/pkg/synccontroller
  cloud/pkg/synccontroller/clusterobjectsync.go
  cloud/pkg/synccontroller/clusterobjectsync_test.go
Labels: kind/test, lgtm, approved, size/XL

#6239 [test]:improve coverage of persistentvolume in edge/pkg/metamanager/c…
  edge/pkg/metamanager/client/persistentvolume_test.go
Labels: kind/test, lgtm, approved, size/L

#6207 [test]:improve coverage of application in cloud/pkg/dynamiccontroller
  cloud/pkg/dynamiccontroller/application/application_test.go
Labels: kind/test, lgtm, approved, size/XL

#6267 docs: fix typo/markdown format in CONTRIBUTING.md
  CONTRIBUTING.md
Labels: lgtm, approved, size/XS

#6218 Clean up the code for maintaining mqtt broker with static pod
  .golangci.yml
  common/constants/default.go
  edge/pkg/edged/edged.go
  edge/pkg/metamanager/client/pod.go
  edge/pkg/metamanager/dao/meta.go
  edge/pkg/metamanager/dao/meta_test.go
  keadm/cmd/keadm/app/cmd/common/content.go
  keadm/cmd/keadm/app/cmd/common/types.go
  keadm/cmd/keadm/app/cmd/config.go
  keadm/cmd/keadm/app/cmd/edge/image.go
  keadm/cmd/keadm/app/cmd/edge/join.go
  keadm/cmd/keadm/app/cmd/edge/join_others.go
  keadm/cmd/keadm/app/cmd/edge/join_windows.go
  keadm/cmd/keadm/app/cmd/edge/upgrade.go
  keadm/cmd/keadm/app/cmd/util/image.go
  keadm/cmd/keadm/app/cmd/util/reset.go
  pkg/image/image.go
  pkg/image/image_test.go
  staging/src/github.com/kubeedge/api/apis/common/constants/default.go
Labels: kind/cleanup, lgtm, approved, size/XL

#6150 Dynamiccontroller filterEvent object type convert error
  cloud/pkg/dynamiccontroller/application/listener.go
Labels: kind/bug, lgtm, approved, size/S

#6227 Edge node certificates should not be shared
  edge/pkg/edgehub/certificate/certmanager.go
  edge/pkg/edgehub/certificate/certmanager_test.go
  edge/pkg/edgehub/certificate/testdata/server.crt
  edge/pkg/edgehub/certificate/testdata/server.key
  edge/test/integration/scripts/generate_cert.sh
Labels: kind/bug, lgtm, approved, size/L

#6234 [test]:improve coverage for metaclient in edge/pkg/metamanager/client
  edge/pkg/metamanager/client/metaclient_test.go
Labels: kind/test, lgtm, approved, size/L

#6206 [test]:create test for eventhandler.go in cloud/pkg/dynamiccontroller/application
  cloud/pkg/dynamiccontroller/application/eventhandler_test.go
Labels: kind/test, lgtm, approved, size/XL

#6255 [test]:created test for device in keadm/app/cmd/ctl/get
  keadm/cmd/keadm/app/cmd/ctl/get/device_test.go
Labels: kind/test, lgtm, approved, size/L

#6243 [test]:improve coverage for ext_handler in edge/pkg/metamanager/metaserver
  edge/pkg/metamanager/metaserver/handlerfactory/ext_handler_test.go
Labels: kind/test, lgtm, approved, size/L

#6265 [test]:create test for cloudinstaller.go in keadm/app/cmd/util
  keadm/cmd/keadm/app/cmd/util/cloudinstaller_test.go
Labels: kind/test, lgtm, approved, size/L

#6294 Change apt source to fix keadm deprecated e2e CI
  tests/scripts/keadm_deprecated_e2e.sh
Labels: kind/failing-test, lgtm, approved, size/XS

#6228 Add mapper e2e test
  tests/e2e/constants/constants.go
  tests/e2e/device/device.go
  tests/e2e/device/framework.go
  tests/e2e/utils/common.go
  tests/e2e/utils/device.go
  tests/e2e/utils/mapper.go
  tests/scripts/conformance_e2e.sh
  tests/scripts/execute.sh
  tests/scripts/generate_mapper.sh
Labels: kind/feature, lgtm, approved, size/L, sig/testing

#6276 [test]:create tests for image.go in keadm/app/cmd/util
  keadm/cmd/keadm/app/cmd/util/image_test.go
Labels: kind/test, lgtm, approved, size/L

#6254 [test]:improve coverage of pod in keadm/app/cmd/ctl/get
  keadm/cmd/keadm/app/cmd/ctl/get/pod_test.go
Labels: kind/test, lgtm, approved, size/L

#6235 [test]:improve coverage for serviceaccount in edge/pkg/metamanager/client
  edge/pkg/metamanager/client/serviceaccount_test.go
Labels: kind/test, lgtm, approved, size/XL

#6292 [test]:create tests for reader in pkg/viaduct/pkg/packer
  pkg/viaduct/pkg/packer/reader_test.go
Labels: kind/test, lgtm, approved, size/L
