Repository kubeedge/kubeedge, pull requests merged in 2025-03, with the labels that each got.

#6162 [test]:improve coverage for httpclient in edge/pkg/servicebus
  edge/pkg/servicebus/util/httpclient_test.go
Labels: kind/test, lgtm, approved, size/L

#6164 Test: Created for Mataclienr.go in ./edge/metamanager/client
  edge/pkg/metamanager/client/metaclient_test.go
Labels: kind/test, lgtm, approved, size/L

#6166 [test]:improve coverage for dtmodule in edge/pkg/devicetwin/dtmodule
  edge/pkg/devicetwin/dtmodule/dtmodule_test.go
Labels: kind/test, lgtm, approved, size/L

#6185 fix keadm init description
  keadm/cmd/keadm/app/cmd/cloud/init.go
Labels: kind/cleanup, lgtm, approved, size/XS

#6177 [test+fix]: Improve coverage for utils.go in edge/pkg/devicetwin/dtcommon and refactor code structure
  edge/pkg/devicetwin/dtcommon/util.go
  edge/pkg/devicetwin/dtcommon/util_test.go
Labels: kind/test, lgtm, approved, size/XL

#6156 [test]: improve code coverage for config.go in cloud/pkg/cloudhub/config
  cloud/pkg/cloudhub/config/config_test.go
Labels: kind/test, lgtm, approved, size/L

#6171 update release version v1.20 in compatibility test
  .github/workflows/schedule.yml
  CHANGELOG/CHANGELOG-1.20.md
  tests/scripts/keadm_compatibility_e2e.sh
Labels: kind/test, lgtm, approved, size/XS

#6194 keadm_get optimized code
  keadm/cmd/keadm/app/cmd/common/constant.go
  keadm/cmd/keadm/app/cmd/ctl/client/device.go
  keadm/cmd/keadm/app/cmd/ctl/client/pod.go
Labels: lgtm, approved, size/S

#6191 [test]:create test for message_pool in cloud/pkg/cloudhub/common
  cloud/pkg/cloudhub/common/message_pool_test.go
Labels: kind/test, lgtm, approved, size/L

#6197 [test]:create test for client.go in cloud/pkg/common/client
  cloud/pkg/common/client/client_test.go
Labels: kind/test, lgtm, approved, size/L

#6208 [test]:Create test for listner.go in cloud/pkg/dynamicontroller/application
  cloud/pkg/dynamiccontroller/application/listener_test.go
Labels: kind/test, lgtm, approved, size/L

#6210 Fixed CI compilation error
  cloud/pkg/cloudhub/common/message_pool_test.go
  edge/pkg/devicetwin/dtmodule/dtmodule_test.go
Labels: kind/bug, lgtm, approved, size/S

#6192 [test]:create test for tunnelserver in cloud/pkg/cloudstream/
  cloud/pkg/cloudstream/tunnelserver.go
  cloud/pkg/cloudstream/tunnelserver_test.go
Labels: kind/test, lgtm, approved, size/L

#6198 [test]:create test for secret.go in cloud/pkg/common/client
  cloud/pkg/common/client/secret_test.go
Labels: kind/test, lgtm, approved, size/L
