Repository kubeedge/kubeedge, pull requests merged in 2025-05, with the labels that each got.

#6149 Solve endpoints synchronization filtering not work
  cloud/pkg/dynamiccontroller/filter/endpointresource/endpointresource.go
  cloud/pkg/dynamiccontroller/filter/util.go
Labels: kind/bug, lgtm, approved, size/M

#6287 [test]:improve coverage for edgedmetricsconnection in pkg/stream
  pkg/stream/edgedmetricsconnection_test.go
Labels: kind/test, lgtm, approved, size/L

#6097 proposal of closed loop flow control
  docs/images/node-group-management/closed-loop-flow.png
  docs/proposals/closed-loop-flow-control.md
Labels: kind/documentation, lgtm, approved, size/L

#6077 implementation of closed loop flow control
  build/crds/apps/apps_v1alpha1_nodegroup.yaml
  cloud/pkg/controllermanager/nodegroup/nodegroupcontroller.go
  manifests/charts/cloudcore/crds/apps_v1alpha1_nodegroup.yaml
  staging/src/github.com/kubeedge/api/apis/apps/v1alpha1/nodegroup_types.go
Labels: kind/feature, lgtm, approved, size/M

#6264 [test]:create test for installer.go in keadm/app/cmd/helm
  keadm/cmd/keadm/app/cmd/helm/installer_test.go
Labels: kind/test, lgtm, approved, size/XL

#6116 test: Add comprehensive unit tests for pkg/stream/tunnel.go
  pkg/stream/tunnel_test.go
Labels: kind/test, lgtm, approved, size/L

#6299 Enhance --set param to support configs like RegisterWithTaints
  keadm/cmd/keadm/app/cmd/util/set.go
  keadm/cmd/keadm/app/cmd/util/set_test.go
Labels: kind/api-change, kind/feature, lgtm, approved, size/L

#6256 [test]:improve coverage of get.go in keadm/app/cmd/debug
  keadm/cmd/keadm/app/cmd/debug/get_test.go
Labels: kind/test, lgtm, approved, size/XXL

#6281 [test]:improve coverage for nssm.go in keadm/app/cmd/util
  keadm/cmd/keadm/app/cmd/util/nssm_test.go
Labels: kind/test, lgtm, approved, size/L

#6283 [test]:create tests for reset in keadm/app/cmd/util
  keadm/cmd/keadm/app/cmd/util/reset_test.go
Labels: kind/test, lgtm, approved, size/L

#6127 [tests] : improve code coverage of helm_helper.go in keadm
  keadm/cmd/keadm/app/cmd/helm/helm_helper_test.go
Labels: kind/test, lgtm, approved, size/L

#6129 [test]: improve coverage of eventbus in cloud/pkg/router/provider/
  cloud/pkg/router/provider/eventbus/eventbus_test.go
Labels: kind/test, lgtm, approved, size/L

#6138 [Test]: created test for device.go in cloud/pkg/devicecontroller/manager
  cloud/pkg/devicecontroller/manager/device_test.go
Labels: kind/test, lgtm, approved, size/L

#6196 [test]:improve coverage of containerexec_connection_test.go in cloud/…
  cloud/pkg/cloudstream/containerexec_connection_test.go
Labels: kind/test, lgtm, approved, size/L

#6251 [test]:improve coverage for reset in keadm/app/cmd/cloud
  keadm/cmd/keadm/app/cmd/cloud/reset_test.go
Labels: kind/test, lgtm, approved, size/L

#6252 [test]:improve coverage for gettoken in keadm/app/cmd/cloud
  keadm/cmd/keadm/app/cmd/cloud/gettoken_test.go
Labels: kind/test, lgtm, approved, size/L

#6244 [test]:improve coverage for agent in edge/pkg/metamanager/metaserver
  edge/pkg/metamanager/metaserver/agent/agent_test.go
Labels: kind/test, lgtm, approved, size/XL

#6242 [test]:create test for handler in edge/pkg/metamanager/metaserver
  edge/pkg/metamanager/metaserver/handlerfactory/handler_test.go
Labels: kind/test, lgtm, approved, size/XL

#6203 [test]:improve coverage for envoverrider.go in cloud/pkg/controllermanager/edgeapplication/overridermanager
  cloud/pkg/controllermanager/edgeapplication/overridemanager/envoverrider_test.go
Labels: kind/test, lgtm, approved, size/XL

#6321 fix keadm batch genconfig
  keadm/cmd/keadm/app/cmd/common/content_test.go
  keadm/cmd/keadm/app/cmd/edge/batch_genconfig.go
Labels: kind/bug, lgtm, approved, size/L

#6317 fix: In the DevInit method, when initializing the devicemode, ensure …
  staging/src/github.com/kubeedge/mapper-framework/_template/mapper/device/device.go
Labels: kind/bug, lgtm, approved, size/XS

#6290 [test]:create tests for dummy-device-linux in pkg/util
  pkg/util/dummy_device_linux_test.go
Labels: kind/test, lgtm, approved, size/L

#6289 [test]:create test for types.go in pkg/security/cert
  pkg/security/certs/types_test.go
Labels: kind/test, lgtm, approved, size/L

#6300 Apply to be a top-level reviewer
  OWNERS
Labels: kind/documentation, lgtm, approved, size/XS

#6311 feat: Clean up non-Running Pods on edged shutdown
  edge/pkg/edged/edged.go
Labels: kind/feature, lgtm, approved, size/M

#6288 [test]:create tests for x509_cert.go in pkg/security/certs
  pkg/security/certs/x509_certs_test.go
Labels: kind/test, lgtm, approved, size/L

#6326 test: Fix sed command to correctly enable metaServer
  hack/local-up-kubeedge.sh
Labels: lgtm, approved, size/XS

#6324 Fix device update logic
  cloud/pkg/devicecontroller/controller/downstream.go
Labels: kind/bug, lgtm, approved, size/XS

#6332 test: Use sort -u to remove duplicate test directories
  hack/lib/golang.sh
Labels: kind/test, lgtm, approved, size/XS

#6266 [test]:imrpove coverage for common in keadm/app/cmd/util
  keadm/cmd/keadm/app/cmd/util/common_test.go
Labels: lgtm, approved, size/XL

#6240 [test]:improve coverage of persistentvolumeclaim in edge/pkg/metamanager
  edge/pkg/metamanager/client/persistentvolumeclaim_test.go
Labels: kind/test, lgtm, approved, size/L

#6260 [test]:improve coverage of collet.go in keadm/app/cmd/debug
  keadm/cmd/keadm/app/cmd/debug/collect_test.go
Labels: kind/test, lgtm, approved, size/XL

#6137 Cilium setup script on KubeEdge edgecore
  hack/configure_cilium.sh
Labels: lgtm, approved, size/L
